@{
    ViewData["Title"] = "Cluster Info";
}

@model web_ui.Models.ClusterModel    
       
@{    
        ViewData["Title"] = "Cluster Info";    
    }    
<h2>Cluster Configuration</h2>    
<p>    
    <a asp-action="Link">Back</a>    
</p>    

<div>    
    <h4>Configuration</h4>    
    <hr />    
    <dl class="dl-horizontal">    
        <dt>    
            "BaseUri"    
        </dt>    
        <dd>    
            @Html.DisplayFor(model => model.BaseUri)    
        </dd>    
    </dl>    
    <dl class="dl-horizontal">    
        <dt>    
            "Host"    
        </dt>    
        <dd>    
            @Html.DisplayFor(model => model.Host)    
        </dd>    
    </dl>  
    <dl class="dl-horizontal">    
        <dt>    
            "CurrentContext"    
        </dt>    
        <dd>    
            @Html.DisplayFor(model => model.CurrentContext)    
        </dd>    
    </dl>  
</div> 